

    @media (max-width: 769px) {
        .textContact {
          padding-left: 7%;
          padding-right: 7%;
        }
      }
    

      @media (max-width: 769px) {
        .form{
         
          padding-right: 16%;
          align-content: center;
        }
      }