.navigation-item {
  font-size: 1.125rem;
  display: inline-block;
  padding: 0 0.5rem;
  text-decoration: none;
  color: inherit;
  position: relative;
  z-index: 1;
  font-weight: 500;
}

@media (min-width: 769px) {
  .evaluationsImage {
    width: 60%;
    border: 10px solid #f9ac85;
    border-radius: 50%;
  }
}

@media (max-width: 769px) {
  .evaluationsImage {
    width: 75%;
    height: auto;
    border: 10px solid #f9ac85;
    border-radius: 50%;
  }
}

@media (min-width: 769px) {
  .evaluationsText {
    display: flex;
	  flex-direction: row;
	
	 
  }
}

@media (max-width: 769px) {
  .evaluationsContent {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	
  padding-top: 2%;
  }
}

@media (max-width: 769px) {
  .evaluationsText{
	padding-left: 10%;
  padding-bottom: 10px;
  }
}



